/*--------------------------SECCION GENERALIZADA-----------------------------*/
body{font-family: 'Antonio', sans-serif;}

.btn{
    border:1px solid black;
    background-color:#e5e7e9;
    color:black;
}

.logoYNombre a,.lblLogin,.lblCarrito,.lblCerrarSesion,.redesSociales a,.filtroProductos a{text-decoration: none;color:black;}

.barraSuperior{text-align: end; background-color: #e5e7e9; padding:.5% 0%;box-shadow:2px 2px 5px #999;}
.barraSuperior a{margin:2% 3%; }

.lblLogin img,.lblCarrito img,.lblCerrarSesion img{width: 20px}
/*-------------------------FIN SECCION GENERALIZADA--------------------------*/

/*---------------------------------CABECERA---------------------------------*/
.logoYBuscador{margin-top: 2%;}

.logoYNombre img{
    width: 160px;
}

.logoYNombre{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.buscador{
    margin-top: 2%;
    margin-left: 18%;
}
/*-----------------------------FIN CABECERA-----------------------------*/


/*-------------------------MENU NAV-------------------------*/
nav{
    text-align: center;
    font-weight: bold;
    background-color:#e5e7e9;
    margin: 8% 0%;
    padding: 0.50% 0%;
    box-shadow:2px 2px 5px #999;
    width:100%;
}

nav ul{display: inline-block;}

nav li {
    text-align: center;
}

.nav-link{color: black; padding-left:150px; padding-right: 150px;}
/*-------------------------FIN MENU NAV-------------------------*/

/*-------------------------SECCION PRINCIPAL DE LA PAGINA-------------------------*/
main{
    box-shadow:2px 2px 5px #999;
    background-color:  #e5e7e9 ;
    padding-bottom: 3%;
}

.lblSeccion{
    text-align: center;
    padding: 3% 0%;
}
/*-------------------------FIN SECCION PRINCIPAL DE LA PAGINA-------------------------*/

/*----------------------------------TARJETA PRODUCTO----------------------------------*/

.producto h5{
    padding-top:3%;
    font-weight: 600;
    font-size: 23px;
}

.producto p{
    padding-top: 3%;
    font-size: 18px;
}

.card{
    box-shadow:2px 2px 5px #999;
}

.producto img{
    max-width: 1475%;
    max-height: 1475%;
    border-bottom: 2px solid #dee2e6
}

.producto .card-body{
    text-align: center;
}
/*--------------------------------FIN TARJETA PRODUCTO--------------------------------*/

/*----------------------PAGINA PRINCIPAL || ARTICULOS EN OFERTA----------------------*/
.articulosEnOferta{
    margin-left:5%;
}

.articulosEnOferta .row{
    margin-bottom: 5%;
}
/*--------------------FIN PAGINA PRINCIPAL || ARTICULOS EN OFERTA--------------------*/

/*----------------------PAGINA PRODUCTOS || SECCION PRODUCTOS----------------------*/
.seccionProductos{
    margin-left: 8%;
}

.seccionProductos .producto{
    margin-bottom:16%
}
/*-------------------FIN PAGINA PRODUCTOS || SECCION PRODUCTOS-------------------*/

/*----------------------PAGINA PRODUCTOS || FILTRO BUSQUEDA---------------------*/
.seccionProductos .filtroBusqueda{
    margin-left: -4.1%;
    margin-bottom: 8%;
}

.seccionProductos .filtroBusqueda ul{
    margin-bottom: 8%;
}

.seccionProductos .filtroBusqueda .accordion-button:not(.collapsed) {
	color: black;
	background-color: transparent;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.seccionProductos .filtroBusqueda .list-group-item.active {
    text-align: center;
    color:black;
	background-color: #cbcbcc;
	border-color: #e5e7e9;
}

.accordion-button:focus {
	border-color: transparent;
    box-shadow:none;
}
/*--------------------FIN PAGINA PRODUCTOS || FILTRO BUSQUEDA-------------------*/

/*--------------------------------QUIENES SOMOS--------------------------------*/
.mapa{text-align: center;}
.mapa iframe{box-shadow:2px 2px 5px #999;}
.quienesSomos .reseña{
    text-align:justify;
    font-weight: 500;
}
.quienesSomos .reseña .col-8{
    margin-left:18%;
}
/*------------------------------FIN QUIENES SOMOS-----------------------------*/


/*-----------------------------------FOOTER-----------------------------------*/
footer{margin-top: 3%;text-align: center;}
.redesSociales img{width:45px;margin-right:1%;}
.redesSociales a{font-size: 20px}
.redesSociales p{font-size:30px;}
/*--------------------------------FIN FOOTER--------------------------------*/

/*----------------------------------ADMIN----------------------------------*/

/*-------------Login------------*/
    .loginAdministrador{
        margin-left: 39%;
        margin-right: 39%;
    }
/*-------------Fin login-------*/

/*-------------Panel principal---------------*/
.administrador nav{margin: 2% 0%}
.administrador .lblCerrarSesion{text-align: right;}

.administrador .tablaProductos .row{margin:0% 16%}
/*------------Fin Panel Principal------------*/



/*------------------------------------------------------------------------*/
