body{font-family: 'Antonio', sans-serif;}

.btn{
    border:1px solid black;
    background-color:#e5e7e9;
    color:black;
}

#logoYNombre a,#lblLogin,#lblCarrito,.redesSociales a,.filtroProductos a{text-decoration: none;color:black;}

.loginYCarrito{text-align: end; background-color: #e5e7e9; padding:.5% 0%;}
.loginYCarrito a{margin:2% 3%; }

#lblLogin img,#lblCarrito img{width: 20px}


.logoYBuscador{margin-top: 2%;}

#logoYNombre img{
    width: 160px;
}

#logoYNombre{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#buscador{
    margin-top: 2%;
    margin-left: 22%;
}

nav{
    text-align: center;
    font-weight: bold;
    background-color:#e5e7e9;
    margin: 8% 0%;
    padding: 0.50% 0%;
    box-shadow:2px 2px 5px #999;
    width:100%;
}

nav ul{display: inline-block;}

nav li {
    text-align: center;
}

.nav-link{color: black; padding-left:150px; padding-right: 150px;}

/*---------------------PRODUCTOS-----------------------------*/
main{
    box-shadow:2px 2px 5px #999;
    background-color:  #e5e7e9 ;
    padding-bottom: 3%;
}

.lblSeccion{
    text-align: center;
    padding: 3% 0%;
}

.productoCuadrado .productoRectangular h5{
    padding-top:3%;
    font-weight: 600;
    font-size: 23px;
}

.productoCuadrado .productoRectangular p{padding-top: 3%;font-size: 20px;}

.articulos .productoCuadrado{margin-bottom: 3%;}

.card{box-shadow:2px 2px 5px #999;}

.productoCuadrado img{border-bottom: 2px solid #dee2e6}

.productoRectangular{text-align: start; margin:0% 3%;}
.productoRectangular  .card-body{border-left: 2px solid #dee2e6}
.productoRectangular img{max-width:148px}
.filtroProductos{margin-bottom: -2%;margin-left: 3%;margin-right: -2%;}
.filtroProductos p{text-align: center;}

.articulos .row{text-align: center;margin:0% 3%;}
/*--------------------------------------------------------------*/

footer{margin-top: 3%;text-align: center;}
.redesSociales img{width:45px;margin-right:1%;}
.redesSociales a{font-size: 20px;margin:1% 3%;}
.redesSociales #contactoFacebook{margin-left: 0%;}
.redesSociales p{font-size:30px;}