body{font-family: 'Antonio', sans-serif;}

.btn{
    border:1px solid black;
    background-color:#e5e7e9;
    color:black;
}
#logoYNombre a,#lblLogin,.redesSociales a{text-decoration: none;color:black;}

#lblLogin{text-align: end;}

#lblLogin img{width: 2%}

#logoYNombre img{
    width: 26%;
}

#logoYNombre{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#buscador{
    margin-top: 2%;
    margin-left: 22%;
}

nav{
    font-weight: bold;
    background-color: #e5e7e9;
    margin: 8% 0%;
    padding: .50% 0%;
    box-shadow:2px 2px 5px #999;
    width:100%;
}

nav li {
    margin: 0.25%;
}

.nav-link{color: black; padding-left:150px; padding-right: 150px;}

/*---------------------PRODUCTOS-----------------------------*/
main{
    box-shadow:2px 2px 5px #999;
    background-color:  #e5e7e9 ;
}

.lblSeccion{
    text-align: center;
    padding: 3% 0%;
}

.producto .card{text-align: center;}

.producto h5{
    padding-top:3%;
    font-weight: 600;
    font-size: 23px;
}

.producto p{padding-top: 3%;font-size: 20px;}

.card{
    box-shadow:2px 2px 5px #999;
}

.card img{border-bottom: 2px solid #dee2e6}



#articulosEnOferta .producto{margin-bottom: 3%;}

#articulosEnOferta .row{text-align: center;margin:0% 7%;}
/*--------------------------------------------------------------*/

footer{margin-top: 3%;text-align: center;}
.redesSociales img{width: 4%;margin-right:1%;}
.redesSociales a{font-size: 20px;margin:1% 3%;}
.redesSociales #contactoFacebook{margin-left: 0%;}
.redesSociales p{font-size:30px;}